*, *::before, *::after {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
}

body {
   justify-content: center;
}

body .container {
    background-image: url('./imgs/quizbackground.png');
    background-size: cover;
    height: 100%;
}

body .container #selectorDiv #questionCategoriesDiv {
    box-shadow: 2px 2px black;
}

body .container #selectorDiv #questionLevelsDiv {
    box-shadow: 2px 2px black;
}

body .container #selectorDiv #questionQuantDiv {
    box-shadow: 2px 2px black;
}

#soundBtn {
    height: 30px;
    width: 30px;
    background-size: cover;
    background-image: url('./imgs/sound-on.png');
}

@keyframes correct {
    0% {background-color: green;}
    50% {background-color: greenyellow;}
}

div .correct {
    animation-name: correct;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

div .wrong {
    animation-name: wrong;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#startQuizBtn {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.answBtn {
    box-shadow: 0 0 5px 2px black;
}

.answBtn:hover {
    border-color: yellow;
}

.restartBtn {
    margin: auto;
}