*, *::before, *::after {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
}

body {
   justify-content: center;
}

body .container {
    background-image: url('quizbackground.png');
    background-size: cover;
}

@keyframes correct {
    0% {background-color: green;}
    25% {background-color: greenyellow;}
    50% {background-color: green;}
    100% {background-color: greenyellow;}
}

@keyframes wrong {
    0% {background-color: red;}
    25% {background-color: lightcoral;}
    50% {background-color: red;}
    100% {background-color: lightcoral;}
}

div .correct {
    animation-name: correct;
    animation-duration: 2s;
}

div .wrong {
    animation-name: wrong;
    animation-duration: 2s;
}

#startQuizBtn {
    margin-top: 25vh;
    margin-bottom: 25vh;
}

.answBtn {
    box-shadow: 0 0 5px 2px black;
}

.answBtn:hover {
    border-color: yellow;
}

.restartBtn {
    margin: auto;
}